In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm_notebook
from collections import defaultdict
import json

In [37]:
df = pd.read_csv('FlightDelays.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
carrier = defaultdict(int) # number of comments per subreddit
fl_num = defaultdict(int) # number of comments per user
df_carrier = df['CARRIER']
df_fl_num =  df['FL_NUM']

In [39]:
for line in df_carrier:
    #print(line)
    carrier[line]+=1

In [40]:
carrier

defaultdict(int,
            {'9E': 370783,
             'AA': 1397726,
             'AS': 374914,
             'B6': 453450,
             'DL': 1465444,
             'EV': 270850,
             'F9': 183123,
             'G4': 150351,
             'HA': 126259,
             'MQ': 455179,
             'NK': 274911,
             'OH': 420985,
             'OO': 1181772,
             'UA': 946594,
             'WN': 2040852,
             'YV': 326528,
             'YX': 475774})

In [41]:
score=0
for k, v in carrier.items():
    #print(v)
    score += v
score

10915495

In [43]:
for line in df_fl_num:
    #print(line)
    fl_num[line]+=1

In [47]:
df_carrier_fl_num = df[['CARRIER','FL_NUM']]

In [51]:
df_carrier_fl_num

         CARRIER  FL_NUM
0             9E    3331
1             9E    3940
2             9E    3409
3             9E    3940
4             9E    3353
5             9E    3280
6             9E    3353
7             9E    3280
8             9E    3353
9             9E    3280
10            9E    3353
11            9E    3298
12            9E    3353
13            9E    3298
14            9E    3280
15            9E    3353
16            9E    3298
17            9E    3280
18            9E    3353
19            9E    3298
20            9E    3280
21            9E    3353
22            9E    3298
23            9E    3280
24            9E    3353
25            9E    3298
26            9E    3280
27            9E    3353
28            9E    3298
29            9E    3280
...          ...     ...
10915465      YX    4506
10915466      YX    4478
10915467      YX    4506
10915468      YX    4478
10915469      YX    4506
10915470      YX    4478
10915471      YX    4506
10915472      YX    4478
10915473      YX    4506
10915474      YX    4478
10915475      YX    4506
10915476      YX    4478
10915477      YX    4506
10915478      YX    4478
10915479      YX    4506
10915480      YX    4478
10915481      YX    4506
10915482      YX    4478
10915483      YX    4506
10915484      YX    4478
10915485      YX    4506
10915486      YX    4478
10915487      YX    4506
10915488      YX    4478
10915489      YX    4506
10915490      YX    4478
10915491      YX    4506
10915492      YX    4478
10915493      YX    4506
10915494      YX    4478

[10915495 rows x 2 columns]

In [65]:
carrier_fl_num = defaultdict(int)
for line in df_carrier_fl_num.itertuples():
    # line[1] is carrier
    key = str(line[1]) +" "+  str(line[2])
    # line [2] is fl_num
    #print(key)
    carrier_fl_num[key]+=1

In [68]:
len(carrier_fl_num)

32047

In [73]:
df_9e = df[df['CARRIER']=='9E']

In [74]:
df_9e

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,CARRIER,FL_NUM,Route,ORIGIN,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,PASSENGERS,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,NET_INCOME,OP_REVENUES
0,2018,1,1,1,1,2018-01-01,9E,3331,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
1,2018,1,1,1,1,2018-01-01,9E,3940,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
2,2018,1,1,2,2,2018-01-02,9E,3409,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
3,2018,1,1,2,2,2018-01-02,9E,3940,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
4,2018,1,1,3,3,2018-01-03,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
5,2018,1,1,3,3,2018-01-03,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
6,2018,1,1,4,4,2018-01-04,9E,3353,42,ABY,...,27.0,0.0,0.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
7,2018,1,1,4,4,2018-01-04,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
8,2018,1,1,5,5,2018-01-05,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
9,2018,1,1,5,5,2018-01-05,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
10,2018,1,1,6,6,2018-01-06,9E,3353,42,ABY,...,17.0,0.0,0.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
11,2018,1,1,6,6,2018-01-06,9E,3298,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
12,2018,1,1,7,7,2018-01-07,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
13,2018,1,1,7,7,2018-01-07,9E,3298,42,ABY,...,0.0,0.0,0.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
14,2018,1,1,7,7,2018-01-07,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
15,2018,1,1,8,1,2018-01-08,9E,3353,42,ABY,...,0.0,0.0,12.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
16,2018,1,1,8,1,2018-01-08,9E,3298,42,ABY,...,28.0,0.0,14.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
17,2018,1,1,8,1,2018-01-08,9E,3280,42,ABY,...,5.0,0.0,26.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
18,2018,1,1,9,2,2018-01-09,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
19,2018,1,1,9,2,2018-01-09,9E,3298,42,ABY,...,10.0,0.0,97.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
20,2018,1,1,9,2,2018-01-09,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
21,2018,1,1,10,3,2018-01-10,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
22,2018,1,1,10,3,2018-01-10,9E,3298,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
23,2018,1,1,10,3,2018-01-10,9E,3280,42,ABY,...,15.0,0.0,0.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
24,2018,1,1,11,4,2018-01-11,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
25,2018,1,1,11,4,2018-01-11,9E,3298,42,ABY,...,17.0,0.0,8.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
26,2018,1,1,11,4,2018-01-11,9E,3280,42,ABY,...,7.0,0.0,4.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
27,2018,1,1,12,5,2018-01-12,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
28,2018,1,1,12,5,2018-01-12,9E,3298,42,ABY,...,14.0,0.0,1.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
29,2018,1,1,12,5,2018-01-12,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10299496,2019,2,6,11,2,2019-06-11,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299497,2019,2,6,12,3,2019-06-12,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299498,2019,2,6,12,3,2019-06-12,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299499,2019,2,6,13,4,2019-06-13,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299500,2019,2,6,13,4,2019-06-13,9E,3469,6672,XNA,...,0.0,0.0,31.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299501,2019,2,6,14,5,2019-06-14,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299502,2019,2,6,14,5,2019-06-14,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299503,2019,2,6,16,7,2019-06-16,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299504,2019,2,6,17,1,2019-06-17,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299505,2019,2,6,17,1,2019-06-17,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299506,2019,2,6,18,2,2019-06-18,9E,3390,6672,XNA,...,0.0,0.0,0.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299507,2019,2,6,18,2,2019-06-18,9E,3469,6672,XNA,...,0.0,0.0,138.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299508,2019,2,6,19,3,2019-06-19,9E,3390,6672,XNA,...,0.0,0.0,0.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299509,2019,2,6,19,3,2019-06-19,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299510,2019,2,6,20,4,2019-06-20,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299511,2019,2,6,20,4,2019-06-20,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299512,2019,2,6,21,5,2019-06-21,9E,3390,6672,XNA,...,0.0,0.0,0.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299513,2019,2,6,21,5,2019-06-21,9E,3469,6672,XNA,...,0.0,0.0,128.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299514,2019,2,6,23,7,2019-06-23,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299515,2019,2,6,24,1,2019-06-24,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299516,2019,2,6,24,1,2019-06-24,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299517,2019,2,6,25,2,2019-06-25,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299518,2019,2,6,25,2,2019-06-25,9E,3469,6672,XNA,...,0.0,0.0,133.0,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299519,2019,2,6,26,3,2019-06-26,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299520,2019,2,6,26,3,2019-06-26,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299521,2019,2,6,27,4,2019-06-27,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299522,2019,2,6,27,4,2019-06-27,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299523,2019,2,6,28,5,2019-06-28,9E,3390,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299524,2019,2,6,28,5,2019-06-28,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73
10299525,2019,2,6,30,7,2019-06-30,9E,3469,6672,XNA,...,NaN,NaN,NaN,2748.0,4456.0,112.0,4568.0,4512.0,-118.37,2319.73